*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
.container{
    max-width: 1440px;
}

.full_nav{
    width: 80%;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 20rem;
    cursor: pointer;
}
#check{
    display: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 80%;
}


img{
    max-width: 400px;
}
.im{
    width:50%;
    
}
.text-box{
    width: 50%;
}

.text-box h4{
    font-size:18px;
}

.text-box h2{
font-size:64px;
}

.text-box p{
font-size:14px;
}


/* card */


.Parent1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}
.child2{
display: flex;
align-items: center;
gap: 1rem;
}

.card{
    background: #545BE8;
    padding: 15px 20px;
    
}
.card h5{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #fff;
}
.card p{
    text-align: justify;
    line-height: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.card-pic{
    background-color: #fff;
    width: 18%;
    border-radius: 25px;
}

/* wrapper 2 */

.wrapper2{
    background-color: #545BE8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 80%;
}


img{
    max-width: 400px;
}
.im{
    display: flex;
    justify-content: center;
    
    
}
.text-box1{
    width: 50%;
}

.text-box1 h4{
    font-size:18px;
    color: #F0C932;
    
}

.text-box1 h2{
font-size:2.6rem;
color: #fff;
}

.text-box1 p{
font-size:14px;
color: #fff;
}

.views{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.views h6{
    color: #F0C932;
    font-size: 1.6rem;
}

.views p{
    font-size: 1rem;
    text-align: center;
}


/* gallery */





.parent{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 2rem;
    margin: auto;
}

.fst-child{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.snd-child{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.snd-child h4{
    color: #545BE8;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
}

.snd-child h2{
    color: #141E32;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 60px;
    
}

.snd-child p{
    color: #969696;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 27px;
}
.best-course{
    width: 100%;
    height: auto;
}

.best-course text{
    position: absolute;
    left: 10px;
    top: 10px;
}

.div1{

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.div2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card1{
    
    padding: 15px 20px;
    
}
.card1 h5{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    
}



.dollar{
    position: relative;
    bottom: 1.5rem;
    left: 9.6rem;
}

.view{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;

}



/* testimonials */

.container3{

    width: 80%;
    margin: 50px auto;
}
.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}


.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 6rem;
}
.container4{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-header{
    display: flex;
}

/* Footer */

.container5{

   width: 100%;
    background: #393E46;
}

.footer{
    width:80%;
    background: #393E46;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 3rem;

    margin:  auto;
}

.footer-content h4{
    color: #fff;
    margin: 1.5rem;
    font-size: 20px;
}

.footer-content ul{
    list-style: none;
}

.footer-content li{
    margin-bottom: 16px;
}

.footer-content li a{
    display: block;
    color: #F4F4F4;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.4s ease;
    text-decoration: none;
}

.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}
.footer-content p{
    color: #F4F4F4;
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 0px;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #F4F4F4;
    margin-right: 17px;
    transition: all 0.4s ease;
}
.icons a:hover{
    color: #F4F4F4;
    transform: translateY(-5px);
}

/* for responsiveness */

@media screen and(max-width : 1250px) {
    html{
        font-size: 75%;
    }
    .footer{
        width:80%;
        background: #393E46;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 3rem;
    
        margin:  auto;
    }
    .footer-content li a{
        display: block;
        color: #F4F4F4;
        font-size: 15px;
        font-weight: 400;
        transition: all 0.4s ease;
        text-decoration: none;
    }
}